<div class="row">
    
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{userData.nombre}} {{userData.lastName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{userData.registerDate}}</h6>
                <a href="#" class="card-link">{{userData.email}}</a>
                <button class="btn btn-info">
                    Cerrar Sesión
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>

</div>