<div class="row">
    <div class="col-lg">

    </div>
    <div class="col-lg-6">

        <h2><b>Formulario para inicio de sesión</b></h2>
        <form (ngSubmit)="login()" #forma="ngForm">

            <div class="alert alert-danger m-2" *ngIf="message.length > 0" >
                {{this.message}}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" id="email"
                    aria-describedby="emailHelp" name="email"
                    pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                    [ngClass]="{'is-valid':!email.invalid,'is-invalid':email.invalid}" required>
                <div *ngIf="(email.invalid && (email.dirty || email.touched)) || email.errors?.required || email.errors?.pattern"
                    class=" alert alert-danger mt-2">
                    Correo inválido
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input #password="ngModel" [(ngModel)]="user.password" type="password" class="form-control"
                    id="password" name="password"
                    [ngClass]="{'is-valid':!password.invalid,'is-invalid':password.invalid}" required>

                <div *ngIf="password.invalid && (password.dirty || password.touched)" class=" alert alert-danger mt-2">
                    Password inválido
                </div>
            </div>
            <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-lg">

    </div>
</div>